/* font-family: 'Graduate', cursive; */
/* font-family: 'Stint Ultra Condensed', cursive; */
*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #777777;
}
    
body {
    width: 100%;
    overflow: hidden;
    }

#intro{
    width: 450px;
    height:375px;
    border: 3px solid #D3D3D3;
    background-color: rgba(96,57,19,0.5);
}

#intro h1 {
    margin: 40px 0 20px 0;
    font-family: 'Graduate', cursive;
    text-align: center;
    font-size: 60px;
    color: #5e0c0c;
}

#intro p {
    font-family: 'Stint Ultra Condensed', cursive;
    text-align: center;
    font-size: 46px;
}

#startButton{
    width: 175px;
    height: 50px;
    line-height: 18px;
    font-size: 24px;
    font-family: 'Graduate', cursive;
    }

.startButton{
    width: 175px;
    height: 50px;
    line-height: 18px;
    font-size: 24px;
    font-family: 'Graduate', cursive;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    }
    
#ship{
    width:220px;
    height:161px;
    background:url(../img/drone.png);
    position: relative;
    top:60%;
    left:36%;    
}
    
.enemydrone{
    background: url(../img/enemydrone.png);
    width: 280px;
    height: 205px;
    position: absolute;
    top: -320;
    }


    
.bullet{
    width: 35px;
    height: 93px;
    background-image: url(../img/fireball.png);
    position: absolute;
}
    
#gamestage {
    position: absolute;
    left:0;
    top:0;
    width:99%;
    height:95%;
    background-image:url(../img/bgscroll.JPG);
    background-position:0px 0px;
    border: 5px solid #D3D3D3;
    overflow: hidden;
}

.scoreboard{
    width: 250px;
    height: 40px;
    margin-top: 25px;
    background-color: #D3D3D3;
    border: solid 3px #525252;
}

.score{
    line-height: 40px;
    font-size: 36px;
    text-align: center;
    font-family: 'Graduate', cursive;
}

.explosion{
    width: 157px;
    height: 229px;
    position: absolute;
    content:url("../img/explosion.gif");
}

.endgamescreen{
    width: 500px;
    height: 350px;
    margin: 0 auto;
    margin-top: 300px;
    border: 3px solid #D3D3D3;
    background-color: rgba(96,57,19,0.5);;
}

.endgamescreen h1 {
    margin: 90px 0 40px 0;
    font-family: 'Graduate', cursive;
    text-align: center;
    font-size: 60px;
    color: #5e0c0c;
}

.endgamescreen p {
    font-family: 'Stint Ultra Condensed', cursive;
    text-align: center;
    font-size: 46px;
}